body {
    background: url("../images/Background.jpg") no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    background-color: black;
}
    .header {
        font-size: 300%;
        text-align: center; 
        border-bottom: 3px dashed black;
        margin: 0px auto 15px auto;
        padding: 15px 0  15px 0;
        background-color: black;
    }